/*Geral*/

body {
    background: white;
    font-size: 80%;
    padding: 0px 0px;
    
  }
  /*Menu*/
  main {
    background: white;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 25px;
  }
  
  main div {
    background: white;
    padding: 15px 10px;
    max-width: 250px;
    max-height: 150px;
    margin: 5px;
    
  }
  .navbar{
    border-bottom: 1px solid #333;

  }
  
  .fas.fa-cogs{
    font-size: 20px;
    color:white;
  }

/*--css task_page--*/ 
  .flex-centralizado {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
  }
  
   .admin_link{
    float: right;
  }
  .add-div {
    background-color: #1f2225;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}
.fas.fa-plus {
  color: #FFF;
  margin-right: 10px;
  margin-left: 5px;
}
  
  /*--Task-list--*/
  .list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
    list-style: none;
   
}

.task-iten {
    list-style: none;
    font-size: 26px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #202020;
}
#add-link{
text-decoration: none;

}
  
  .fas.fa-trash .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
  }
  .fas.fa-trash{
    color: rgba(211, 30, 30, 0.644);
  }
  .fas.fa-edit{
    color:rgb(29, 134, 38)
    
  }
  
  footer{
    max-height: 50px;
    border-top: 2px solid #202020;
    text-align: center;
    
  }
  footer p{
    text-align:center;
    top: 50%;
    position: relative;
    background:#fff8f8;
  }