{% extends "base.html" %}
{% block "content" %}
<div class="destaque">
<div class="container">
                 
</div>
<main class="flex-centralizado">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Total por Clientes</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">{{context.total_time}}</p>
  </div>
</div>    
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Total de Horas</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">Horas do Projeto</p>
  </div>
</div>    
 </main>
{% endblock %}