{% extends 'base.html'%}
{% block "content" %}
<div class="offset-1 col-10 div-list">
    <h1>Cadastro de Tarefas</h1>
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i>Adicionar Tarefa
        </div>
        <ul class="task-list">
        {% for task in all_tasks %}
            <li class="list-iten">
            <span><a href="/task/{{task.id}}">{{task.short_descriptions}}</a></span>
            <spam><i class="fas fa-trash"></i></spam>
            <spam><i class="fas fa-edit"></i></spam>    
            </li>
            {% endfor %}
        </ul>
</div>
{% endblock%}