{% extends 'base.html'%}
{% block "content" %}

<div class="offset-1 col-10 div-list">
 <a id="add-link" href="{% url 'newtask'%}">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i>Adicionar Tarefa
        </div>
        </a>
<table class="table">
 
  <tbody>
        {% for task in all_tasks %}
            <tr>
            <th scope="row">{{task.id}}</th>
            <td><span><a href="task/{{task.id}}">{{task.short_descriptions}}</span></a></td>
            <td><spam><i class="fas fa-trash"></i></spam>
            <spam><a href="edit/{{task.id}}"></span><i class="fas fa-edit"></i></spam><a/></td>    
           
            {% endfor %}
            </tbody>
</table>
</div>
{% endblock%}